@media screen and (width:768px) {

    .first-section .first-center .delivery {
        font-size: 22px !important ;
        max-width: 100% !important;
        padding-top: 71px !important;
        letter-spacing: normal !important;
        line-height: 28px !important;
        /* background-color: whit/e; */
        /* letter-spacing: 2px; */
        width: 350px !important;
    }

}