@media screen and (min-width:1184px) {

    .first-section .first-center .sign-in-tablet {
        display: none;
    }

    .first-section .first-center .sign-in-desktop {

        display: flex;
    }

    .sign-in-desktop {
        display: flex;
        margin-top: 16px;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
        font-size: 14px;
        letter-spacing: 0.23px;
        column-gap: 3.5px;
        font-weight: 600;
        padding: 6px 13px;
        font-family: 'Bold';
    }



    .first-section .first-center .delivery {
        /* background-color: /aqua; */
        font-size: 40px;
        max-width: 100%;
        padding-top: 75px;
        letter-spacing: -0.01px;
        line-height: 40px;

    }

    /* yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy */

    .second-section {
        display: flex;
        flex-direction: row;

        padding: 0;
        justify-content: space-between;

        width: 1080px;
        min-width: 1080px;

        margin: 108px 0;

        height: 420px;
        max-width: unset;


    }

    .second-section .second-div {

        flex-direction: column;
        text-align: center;

        margin: 0;
        width: 328px;
        max-height: none;

        padding: 16px;

    }



    .second-section .second-div img {
        align-self: start;
        width: 154px;
        height: 100%;
    }


    .second-section .second-div .sixsix {
        padding-top: 0;
    }

    .second-section .second-div .second-content {
        max-width: 250px;
        height: 232px;
    }


    .second-section .second-div .second-content h2 {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.01px;

        margin: 0;
        width: 100%;

    }

    .second-section .second-div .second-content p {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.01px;

        margin-bottom: 10px;
        margin-top: 8px;
    }

    .second-section .second-div .second-content a {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.01px;

        margin-bottom: 0;
        /* marg/in-top: 124px; */
        margin-top: 12px;
    }

    .second-section .second-div .oneone,
    .second-section .second-div .threethree,
    .second-section .second-div .fivefive {
        display: flex;
        justify-content: space-between;

        width: 154px;
        height: 154px;

        margin: 0;
        padding: 0;

        padding-left: 55px;

    }




    body>section:nth-child(5) {
        margin-top: 0px;
    }

    /* body > section.second-section > div:nth-child(3) > div.second-content.sixsix > a{
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.01px;

        margin-bottom: 0;
        margin-top: 124px;
    } */






    .third-section .feature {

        margin-left: auto;
        margin-right: auto;
        /* top and bottom remain as-is */

        /* justify-content: center; */
    }

    .third-section .feature-2 {
        margin-left: -20px;
        margin-right: auto;
    }

    body>section:nth-child(5)>div.feature.feature-2 {
        justify-content: center;
    }

    /* footer */

    footer .last-svg {
        justify-content: space-between;
    }

}