@media screen and (min-width:1184px) {

    
    .second-section{
        display: flex;
        flex-direction: row;

        margin: 0 0;
        padding: 0;
        justify-content: space-between;
        /* padding: 12px; */
        margin-top: 0px !important;


        
        width: 1080px;
        min-width: 1080px;
        height: 606px;

        padding: 12px;
        padding-bottom: 18px;
        
    }

    .second-section .second-div{
        width: 328px;
        max-width: 328px;
        height: 388px;

        flex-direction: column;
        text-align: center;

        margin:0;
        margin-top: px;
    }
    .second-section .second-div .twotwo, .second-section .second-div .fourfour, .second-section .second-div .sixsix{
        max-height: 234px;
        width: 250px;
    }

    .second-section .second-div .sixsix{
        padding-top: 0;
    }

    .second-section .second-div .second-content h2{
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.01px;

        margin: 0;
        
    }

    .second-section .second-div .second-content p{
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.01px;

        margin-bottom: 10px;
        margin-top: 8px;
    }
    .second-section .second-div .second-content a{
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.01px;

        margin-bottom: 0;
        /* marg/in-top: 124px; */
        margin-top: 12px;
    }

    .second-section .second-div .oneone,.second-section .second-div .threethree,.second-section .second-div .fivefive{
        margin: 0;
        padding: 0;

        margin-right: 149px;

        display: flex;
        justify-content: space-between;

        width: 154px;
        margin-left: 55px;

    
    }

    .second-section .second-div .oneone img,.second-section .second-div .threethree img,.second-section .second-div .fivefive img{
        width: 100%;
        height: 100%;
    }

   
    body > section:nth-child(5){
        margin-top: 0px;
    }

    /* body > section.second-section > div:nth-child(3) > div.second-content.sixsix > a{
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.01px;

        margin-bottom: 0;
        margin-top: 124px;
    } */






    .third-section .feature{
        margin-left: auto;
margin-right: auto;
/* top and bottom remain as-is */

        /* justify-content: center; */
    }
    /* .third-section .feature-2{
        margin-left: auto;
        margin-right: auto;
    } */

    body > section:nth-child(5) > div.feature.feature-2{
        justify-content: center;
    }
}