@media screen and (min-width:960px) {
    body > section.first-section > div.first-center > div.logo > svg:nth-child(1){
        width: 42px;
        height: 24px;
    }
    .first-section .first-center .logo .second-logo {
        width: 155px;
        height: 18px;

        fill: yellow;

    }
    .first-section .first-center .logo{
       
        width:209px;
        gap: 12px;
        
    }
    
/* 
    body > section.first-section > div.first-center > div.logo > svg:nth-child(2) > path:nth-child(1){
        height: 18px;
        width: auto;
    }
    body > section.first-section > div.first-center > div.logo > svg:nth-child(2) > path:nth-child(2){
        height: 18px;
        width: auto;
    }
    body > section.first-section > div.first-center > div.logo > svg:nth-child(2) > path:nth-child(3){
        height: 18px;
        width: auto;
    }
    body > section.first-section > div.first-center > div.logo > svg:nth-child(2) > path:nth-child(4){
        height: 18px;
        width: auto;
    }

    body > section.first-section > div.first-center > div.logo > svg:nth-child(2) > path:nth-child(5){
        height: 18px;
        width: auto;
    }body > section.first-section > div.first-center > div.logo > svg:nth-child(2) > path:nth-child(6){
        height: 18px;
        width: auto;
    }body > section.first-section > div.first-center > div.logo > svg:nth-child(2) > path:nth-child(7){
        height: 18px;
        width: auto;
    }body > section.first-section > div.first-center > div.logo > svg:nth-child(2) > path:nth-child(8){
        height: 18px;
        width: auto;
    }*/
} 
