:root {
  --primary: #f84424;
  --site-red: #eb1700;
  --border-grey: #f1f1f1;
  --light-grey: #f7f7f7;
  --light-black: #282828;
}

body {
  overflow-x: scroll;
}

body,
p,
ul,
li,
a,
svg {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Regular';
  margin-right: 0px;
}

body {
  /* padding-bottom: 1000px; */
}

li {
  list-style: none;
}

button {
  border: none;
}

/* button styles */
.btn {
  font-weight: bold;
  background-color: white;
  padding: 11.5px 13px;
  color: black;
  border-radius: 36px;
  font-size: 15px;
  display: inline-block;
  /* box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.05); */
  cursor: pointer;
}

.red-btn {
  background-color: var(--site-red);
  color: white;
  cursor: pointer;
  transition: background-color 0.15s;
}

.red-btn:hover {
  background-color: #e03a1e;

}

.red-btn:active {
  background-color: #c4301a;
}

.curr-loc {
  display: none;
}

/* basic styles */

.top-scrolling-sticky {
  /* position: fixed;
  top: 0;
  height: 56px;
  width: 100%;
  background-color: white;
  z-index: 999; */
  display: none;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  /* padding: 10px 20px; */
  /* border-bottom: 1px solid var(--border-grey); */
}

.banner {
  height: 96px;
}

.first-section {
  background: url(assets/images/bg--plate--.jpg);
  background-size: cover;
  /* important to add this cover always remember this */
  background-repeat: no-repeat;
  background-position: center;

  overflow-x: hidden;
  font-family: 'Regular';
  height: 550px;
}



.first-section .top-sticky {

  padding-top: 15px;
  padding-right: 24px;

  display: flex;
  justify-content: flex-end;

  column-gap: 8px;
}

.first-section .top-sticky .top-login {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 9px;
  padding-bottom: 9px;

  font-size: 16px;
  line-height: 22px;
}


.logo {
  color: white;
  justify-self: center;
  display: flex;
  gap: 8px;
  align-items: center;
}

.delivery {

  font-weight: 900;
  font-size: 32px;
  color: white;

  font-family: TTNormsProCond-Blk, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 900;
  letter-spacing: -0.01px;
  /* word-spacing: 2px; */
  line-height: 28px;
  text-align: center;

  padding-top: 20px;
  max-width: 350px;

}



.search {


  display: flex;
  background-color: white;
  border-radius: 36px;
  justify-content: space-between;


  font-size: large;
  max-width: 298px;
  height: 52px;
  padding: 6px 16px;

  margin-top: 24px;
  box-sizing: border-box;

}

.search input {
  border: none;

  padding: 0;

  width: 178px;
  margin-right: 12px;

}

.search input::placeholder {
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.01px;
  font-weight: 600;
}

.search .tablet {
  display: none;
}

.search .search-btn {
  padding: 0;
  margin: 0;

  width: 24px;
  height: 24px;

  align-self: center;
  margin-right: 12px;

  background-color: white;
}

.div-btn-arrow {
  width: 40px;
  height: 40px;

  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-btn {
  padding: 0;
  margin: 0;

  width: 24px;
  height: 24px;

  align-self: center;
  background-color: white;

}


.button-holder {
  display: flex;
  margin-top: 16px;
  column-gap: 10px;
}

.login-below {
  /* align-items: center; */
  justify-self: center;
  padding: 6px 12px;

  display: flex;
  column-gap: 3px;




}

.login-below svg {
  align-self: center;
}

.login-below p {
  display: inline;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.56px;
}


.first-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 121px;


}

.ad-section {

  padding: 20px;
  margin-top: 20px;
  /* padding-top: 19px;
     */

  justify-self: center;
  display: flex;
  flex-direction: column;
  /* row-gap: 3px; */


  /* justify-content:space-between ; */

  background-color: var(--light-grey);
  border: 1px solid var(--border-grey);
  border-radius: 18px;

  width: 318px;

}

.ad-first-line {
  display: flex;

  align-self: flex-start;
  justify-content: start;
  height: 64px;
  /* padding-left: 25px ;
    padding-right: 90px ; */
  /* position: relative;
  left: 200px; */
  /* width: 800px; */


}


.ad-first-line .ad-contents .five-star svg path {
  fill: rgb(235, 177, 30);
 

}

.ad-first-line .ad-contents .five-star {
  margin-top: 2px;
}

.ad-first-line .ad-contents {
  display: flex;
  flex-direction: column;

}

/* .ad-section .ad-first-line .ad-contents */
.ad-section .ad-first-line .ad-contents h3 {

  margin: 0;
  padding: 0;

  font-size: 18px;
  font-family: 'Bold';
  letter-spacing: -0.01px;
  line-height: 20px;

}

.ad-section .ad-first-line .ad-contents h5 {

  margin: 0;
  padding: 0;

  font-family: 'Regular';
  font-size: 14px;
  line-height: 20px;

  margin-top: 2px;
  margin-left: 4px;

  letter-spacing: -0.01px;
  color: gray;
}

.ad-section .ad-first-line .ad-contents p {

  margin: 0;
  padding: 0;

  display: inline;

  font-size: 14px;
  font-family: 'Regular';
  color: gray;

  letter-spacing: -0.01px;
  line-height: 20px;


}


.ad-section .ad-first-line .ad-logo {
  border: 1px solid var(--border-grey);
  background-color: white;
  /* padding: 8px 8px; */
  padding: 8px;
  margin: 0;
  align-self: center;
  border-radius: 12px;
  margin-right: 8px;

  width: 42px;
  height: 42px;

  display: flex;
  align-self: start;
  justify-self: start;


}

.ad-section .ad-second-line {
  margin-top: 16px;
  padding: 9px auto;

}

body>section.first-section>div.top-sticky>button.btn.white-btn.top-login.tablet {
  display: none;
}

body>section.first-section>div.top-sticky>button.btn.red-btn.top-login.tablet {
  display: none;
}


























/* font styles */

@font-face {
  font-family: 'Rubik Regular';
  src: url(assets/fonts/Rubik-Regular.ttf);
}

@font-face {
  font-family: 'Regular';
  src: url(assets/fonts/TTNormsPro-Regular.ttf);
}

@font-face {
  font-family: 'Bold';
  src: url(assets/fonts/TTNormsPro-Bold.ttf);
}

@font-face {
  font-family: 'Extra-black';
  src: url(assets/fonts/TTNormsProCondensed-Black.ttf);
}



.sign-in-tablet {
  display: none;
}

.sign-in-desktop {
  display: none;
}