:root {
  --primary: #f84424;
  --site-red: #eb1700;
  --border-grey : #f1f1f1;
  --light-grey: #f7f7f7;
  --light-black : #282828;
}  
.sixth-section {


  background-color: #fef1ee;
  padding-top: 0px;
  margin-top: -20px;

  min-height: 518px;
  /* max-height: 600px; */


  color: var(--light-black);
}
.sixth-section .sixth-heading{
padding-bottom: 20px;


}
.sixth-section .sixth-heading h1 {
  font-family: 'Bold';
  text-align: center;
  padding-bottom:20px ;
  max-width: 300px;

  justify-content: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0px;
  

}
.sixth-section .sixth-heading h1 {
  font-family: 'Bold';
  text-align: center;
  justify-content: center;
  /* margintop */
  /* margin-top: -2px; */
  padding-bottom: 0px;
  font-weight: 600;
  /* margin-top: 10px; */

}
body > section.sixth-section > div.scroll-view{
  padding-bottom: 0px;
}

.sixth-section .scroll-view {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  /* max-height: 362px; */
  /* gap: 6px; */
  /* padding-left: 8%;
  padding-right: 8%; */
 
  text-align: center;
  align-items: start;
  /* align-items: center;
  justify-content: center; */ 
}

.sixth-section .scroll-view::-webkit-scrollbar {
  width: 0;
}

.sixth-section  .supply {
   width: 80%;
  max-height: 590px;
  text-align: center;
  flex: 0 0 auto; 

   margin-left: 5%; 
  margin-right: -10%; 

  padding-top: 20px;
  padding-right: 20px;
  /* padding-bottom: 20px; */
  padding-left: 20px;

}


body > section.sixth-section > div.scroll-view > div:nth-child(3) > div.contents > p:nth-child(4){
  margin-top: 10px;
}
body > section.sixth-section > div.scroll-view > div:nth-child(3) > div.contents > button{
  margin-bottom: 0px;
}
.sixth-section  .supply p,
h3 {
    font-size: 14px;
    font-weight: 600;
    
  text-align: center;
  width: 100%;
  margin-top: -10px;
}
     
.sixth-section  .supply .img {
    height: 180px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.sixth-section  .supply img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.sixth-section  .supply button {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 14px;
  font-family: 'Regular';
  font-weight: bolder;
  padding: 7px 12px;
}



.sixth-section .sixth-heading{
    justify-self: center;
    align-self: center;
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 0px;
    line-height: 28px;
}

.sixth-section  .supply .contents{
    /* justify-self: center; */
    width: 100%;
}

.sixth-section .scroll-view .last{
  margin-right: 5%; 
}

