:root {
    --primary: #f84424;
    --site-red: #eb1700;
    --border-grey: #f1f1f1;
    --light-grey: #f7f7f7;
    --light-black: #282828;
}

* {
    color: var(--light-black);
}

@media screen and (min-width:768px) {
    .banner {
        display: none;
    }

    .first-section {
        height: 650px;
    }

    .first-section .first-center .logo {
        transform: translateY(-153px);
    }


    /* .first-section .top-sticky .btn{
        padding-left: 20px;
    } */


    .first-section .top-sticky {

        padding-top: 16px;
        padding-right: 24px;

        display: flex;
        justify-content: flex-end;

        column-gap: 8px;
    }

    .first-section .top-sticky .top-login {
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 9px;
        padding-bottom: 9px;

        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.3px;

        font-family: 'Regular';
    }

    .first-section .top-sticky .white-btn {
        background-color: var(--site-red);
        color: white;

    }

    .first-section .top-sticky .red-btn {
        background-color: white;
        color: var(--light-black);

    }

    .search .mobile {
        display: none;
    }

    .search .tablet {
        display: block;

    }

    .search {
        /* padding: 20px 8px 8px 8px; */

        max-width: 408px;
        height: 56px;
        padding: 8px 8px 8px 20px;

        margin-top: 24px;
        box-sizing: border-box;
    }

    .search input {
        width: 392px;
    }

    .search input::placeholder {
        font-size: 15px;
        letter-spacing: 0.1px;
        font-weight: 600;
    }

    .div-btn-arrow {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    body>section.first-section>div.first-center>div.search>div>button>svg>path {
        color: white;
    }

    .search .arrow-btn {
        background-color: var(--site-red);
        border-radius: 36px;
        color: white;
        width: 40px;
        height: 40px;
    }

    .button-holder {
        display: none;
    }

    .sign-in-tablet {
        display: flex;
        margin-top: 16px;
        box-shadow: -2px 4px 5px rgba(0, 0, 0, 0.15);
        font-size: 14px;
        column-gap: 3px;
        padding: 6px 11px;
    }

    .first-section .first-center .delivery {
        font-size: 40px;
        max-width: 100%;
        padding-top: 79px;
        letter-spacing: -0.01px;
        line-height: 40px;
        /* letter-spacing: 2px; */
    }

    body>section.first-section>div.first-center>div.search>div>button svg {
        fill: white;
        color: white;
    }

    .top-scrolling-sticky {
        /* height: 28px; */
    }

    .ad-section {
        display: none;
    }

    /* second-section */


    .second-section .second-div .oneone,
    .second-section .second-div .threethree,
    .second-section .second-div .fivefive {

        width: 124px;
        height: 124px;

        margin-bottom: auto;
        margin-right: 64px;
    }

    .second-section .second-div img {
        align-self: start;
        width: 124px;
        height: 100%;
    }



    .second-section .second-div .second-content {
        min-width: 250px;
        /* padding-top: 2px; */
    }

    .second-section {
        margin-top: 40px;
        row-gap: 0px;
        margin: 40px 0;
        max-width: unset;
        /* font-size: 32px; */
    }

    .second-section .second-div h2 {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.01px;
    }

    .second-section .second-div p {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.01px;

        margin-bottom: 11px;
    }

    .second-section .second-div a {


        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.01px;

    }

    .second-section .second-div {
        width: 438px;
    }

    body>section.first-section>div.top-sticky>button.btn.white-btn.top-login.tablet {
        display: block;
    }

    body>section.first-section>div.top-sticky>button.btn.red-btn.top-login.tablet {
        display: block;
    }

    body>section.first-section>div.top-sticky>button.btn.white-btn.top-login.mobile {
        display: none;
    }

    body>section.first-section>div.top-sticky>button.btn.red-btn.top-login.mobile {
        display: none;
    }





    .forth .shop h3 {
        font-size: 40px;
        letter-spacing: -0.01px;
        line-height: 40px;
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .forth .shop h4 {
        font-size: 20px;
        letter-spacing: -0.01px;
        line-height: 20px;
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .forth .shop p {
        font-family: 'Bold';
        font-size: 16px;
        letter-spacing: -0.01px;
        line-height: 22px;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .forth .shop button {
        margin-top: 30px;
        padding-right: 12px;
        padding-left: 12px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 16px;
    }

    .below-black-image {
        padding: 60px 20px 20px 20px !important;
    }
}


/* 326 296 */