:root {
  --primary: #f84424;
  --site-red: #eb1700;
  --border-grey : #f1f1f1;
  --light-grey: #f7f7f7;
  --light-black : #282828;
  --cream-color : #fef1ee;
}
   
@media screen and (min-width:768px) {
    .sixth-section {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: -40px;
    /* display: flex;
     flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.sixth-section * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* height: auto; */
    /* max-height: 1810px; */
}

.sixth-section .sixth-heading {
    padding: 60px 20px 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.sixth-section .sixth-heading h1 {
    font-size: 32px;
    letter-spacing: -0.01px;
    line-height: 40px;
    max-width: 500px;
    margin: 0px;
}

.sixth-section .scroll-view {
    overflow: unset;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-auto-rows:1fr; */
    /* row-gap: 40px; */
    /* column-gap: 40px; */
    width: 100%;
    max-width: 1184px;
    height: auto;
    max-height: 1630px;
    align-items: stretch;

    margin: 0 auto;
}

.sixth-section .supply {


    /* margin: 0 !important; */
        /* margin-left: 0px !important;
        margin-right: 0px !important; */
        /* padding: 0 !important; */
        
    padding: 0px;

    margin: 0;
    /* padding-left:20px;
    padding-right:20px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-height: none;
    padding: 20px;
}
.sixth-section .scroll-view .last {
    margin-right: 0;
}
.sixth-section .supply .img {
    width: 100%;
    /* padding-top: 100%; */
    height: auto;
    aspect-ratio: 1 / 1;
    /* position: relative; */
    /* overflow: hidden; */

    
}

.sixth-section .supply .img img {
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* max-width: 100%; */
    /* display: block; */
    z-index: 999;
}

.sixth-section .supply .contents {
    width: 100%;
    text-align: center;
    /* margin-top: 20px; */
}

.sixth-section .scroll-view .supply .contents h1 {
    /* background-color: #282828; */
    font-size: 40px;
    font-family: 'Bold' !important;
    letter-spacing: -0.01px !important;
    line-height: 40px !important;
    margin-top: 20px;
    /* margin-bottom: 20px !important; */
}

.sixth-section .scroll-view .supply .contents p {
    font-size: 16px !important;
    line-height: 22px !important;
    /* letter-spacing: 5px !important; */
    margin-top: 20px;

    font-family: 'Regular';
    /* margin-bottom: 20px !important; */
}

.sixth-section .scroll-view .supply .contents button {
    font-size: 16px !important;
    line-height: 22px;
    letter-spacing: 0.1px !important;
    margin-top: 30px;
    padding: 9px 12px;

}

body > section.sixth-section > div.scroll-view > div:nth-child(3) > div.contents > p.warning{
    font-size: 14px !important;
    line-height: 22px;
    letter-spacing: 0.1px !important;
    margin-top: 20px;
}

.sixth-section .left{
    /* margin-left: 20px; */
}

.sixth-section .right{
    /* margin-right: 20px; */
}




}