:root {
  --primary: #f84424;
  --site-red: #eb1700;
  --border-grey : #f1f1f1;
  --light-grey: #f7f7f7;
  --light-black : #282828;
  --cream-color : #fef1ee;
}

@media screen and (min-width:768px) {
    .third-section{
        /* padding: 20px; */
        /* margin-top: 20px; */
        padding-top: 0px;
    }

    .third-section{
        display: flex;
        flex-direction: column;

    }

    .third-section .feature {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        align-content: space-between;
        column-gap: 60px;
    }

    .third-section .feature:nth-child(odd) {
        flex-direction: row-reverse;
    }

    .third-section .feature .img{
        height: 500px;
        /* width: 45%; */
    }


    .third-section .feature .desc{
        max-width: 400px;
        /* min-width: 360px; */
        width: 49%;
        max-height: 290px;
        align-self: center;
        justify-self: start;

    }
    .third-section .feature .desc{
      display: flex;
      flex-direction: column;

    }

    .third-section .feature .desc h3{
      
        font-size: 40px;
        line-height: 40px;
        display: inline-block;
        /* max-width: 390px; */
        margin-bottom: 0;
        margin-top: 20px;
        max-width: 360px;

    }
    .third-section .feature .desc h4{
        font-size: 20px;
        margin-top: 18px;
        /* line-height: 0.1px; */
        margin-bottom: 0;
        
    }
    .third-section .feature .desc p{
        font-size: 16px;
        margin-top: 8px;
        margin-bottom: 0;
        letter-spacing: 0.1px;
        line-height: 24px;

    }

    .third-section .feature .desc button{
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 16px;
      margin-top: 28px;
    }

    .third-section .feature-2{
      background-color: var(--cream-color);
      padding: 80px 20px 20px 20px;
      width: 100%;
      margin-top: -60px;
      margin-left: -20px;
      margin-right: 0px;

    }


    .forth
    {
      width: 100%;
      height: 600px;
    }


    .forth .shop{
      max-width: 550px;
      max-height: 308px;
    }





}

/* 

  .third-section .feature {
    /* background-color: yellow; 
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    height: 70vh;
    gap: 30px;
    justify-content: s;
  }

  .third-section .feature .img {
    width: 40%;
    height: 100%;
    /* or a fixed height like 300px if parent has no height
    overflow: hidden;
    left: -40%;
  }

  .third-section .feature .img img {
    height: 100%;
    width: auto;
    object-fit: cover;
    display: block;
    left: -40%;
  }

  .third-section .feature .desc {
    width: 50%;
  }

  .third-section .feature:nth-child(odd) {
    flex-direction: row-reverse;
  }
*/