:root {
  --primary: #f84424;
  --site-red: #eb1700;
  --border-grey : #f1f1f1;
  --light-grey: #f7f7f7;
  --light-black : #282828;
  --cream-color : #fef1ee;
}

@media screen and (min-width:768px) {
    .sixth-section {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: -35px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.sixth-section * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sixth-section .sixth-heading {
    padding: 60px 20px 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.sixth-section .sixth-heading h1 {
    font-size: 32px;
    letter-spacing: -0.01px;
    line-height: 40px;
    max-width: 500px;
    margin: 0px;
}

.sixth-section .scroll-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    width: 100%;
    max-width: 1184px;
}

.sixth-section .supply {

    /* margin: 0 !important; */
        margin-left: 0px !important;
        margin-right: 0px !important;
        /* padding: 0 !important; */
        
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.sixth-section .supply .img {
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
}

.sixth-section .supply .img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.sixth-section .supply .contents {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.sixth-section .scroll-view .supply .contents h1 {
    font-size: 24px !important;
    font-family: 'Bold' !important;
    letter-spacing: -0.01px !important;
    line-height: 32px !important;
    margin-bottom: 20px !important;
}

.sixth-section .scroll-view .supply .contents p {
    font-size: 16px !important;
    line-height: 22px !important;
    letter-spacing: -0.01px !important;
    margin-bottom: 20px !important;
}

.sixth-section .scroll-view .supply .contents button {
    font-size: 16px !important;
    letter-spacing: -0.01px !important;
}




}